.asdModRsl-Wpr {
    margin: -41px 0px 0px 215px;
    position: absolute;
    background-color: #212121;
    z-index: 2;
    width: 280px;
    height: 350px;
    .asdModRsl-Hdr {
        padding: 10px;
    }
}