$color_1: #fff;
$background-color_1: #131313;
$background-color_2: #252525;
$background-color_3: #ba5858;

/* menu */
.MHeader {
	border-bottom: 1px solid #37373f;
	box-shadow: 4px 0 5px rgb(41 38 38 / 20%);
	background-color: $background-color_1;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
}
.MContainer {
	height: 50px;
	margin: 0px auto;
	padding: 4px 0px 0px 0px;
}
.MLogo {
	font-weight: 600;
	color: $color_1;
	padding: 0px 5px;
	font-size: 25px;
	display: inline-block;
}
.MHinner {
	border-radius: 6px;
	color: $color_1;
	display: inline-block;
	margin: 0px 0px 0px -35px;
	position: absolute;
	height: 35px;
}
.MinCnt {
	padding: 5px;
	margin: 0px 0px 0px 36px;
	input[type="search"] {
		background-color: $background-color_2;
		padding: 0px;
		margin: 0px 0px 0px 0px;
		width: 100%;
		height: 35px;
		text-indent: 10px;
		&:focus {
			outline: none;
		}
	}
	div.fR {
		z-index: 5;
		position: relative;
		margin: -31px 5px 0px 0px;
	}
}
.glbl_uAHdr {
	border-radius: 50%;
	height: 22px;
	width: 22px;
	background-repeat: none;
	border: 2px solid #565659;
	margin: 0px 0px 0px 0px;
}
.MMenu {
	display: inline-block;
	position: relative;
	height: 25px;
	width: 30px;
	margin: 2px 0px 0px 4px;
	span {
		height: 3px;
		width: 100%;
		margin: 6px 0px;
		display: block;
		background-color: $background-color_3;
	}
}