$color_1: #fff;

@import "aviyon.css";
@import "SchRsl.css";
@import "lft_menu.css";
@import "gate.css";
@import "header.css";
@import "hdrDropdown.css";
@import "hdr_fltr.css";
@import "mnPst_Wpr.css";
// post modual
@import "pst/postPopup.css";
@import "notiView.css";
@import "footer.css";
@import "user.css";
@import "messages.css";
@import "explore.css";
@import "ai.css";
// user modules
@import "u/usrPge_Live.css";
@import "u/usrPge_Play.css";
@import "u/usrPge_Story.css";
@import "u/usrPge_Fllw.scss";
@import "u/usrPge_Subscribe.css";
@import "u/usrPge_About.css";
@import "u/donatePopup.css";
@import "u/postModal.css";
@import "m/pstGlb_mod.css";
@import "set/usrPge_Settings.css";

html,body {
	max-height: 100vh;  /* Limit height to 80% of viewport height */
  max-width: 100vw;   /* Limit width to 70% of viewport width */
}

main {
	margin: 0px auto 20px;
}

.cntr_wrp {
	margin: 0px auto;
	justify-content: center;
	display: ruby;
	align-items: center;
}

.mnVwbdy {
	margin: 10px 0px 0px;
	display: flex;
}

a {
	color: $color_1;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
nav.Lft_menu {
	ul {
		li {
			a {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
