$background-color_2: #252525;

ul.usrLive_View {
    margin: 0px;
    padding: 0px;
    li {
        background-color: $background-color_2;
        margin: 0px 10px 10px 0px;
        padding: 10px;
        height: 120px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        @keyframes hover {
            0% {
            transform: translateY(0);
            }
            50% {
            transform: translateY(-2px);
            }
            100% {
            transform: translateY(0);
            }
        }
        &:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            transform: translateY(-4px);
            animation: hover 2s infinite;
        }
        img.usrLive_Thmb, div {
            display: inline-block;
        }
        img.usrLive_Thmb {
            width: 150px;
            height: 100px;
            float: left;
        }
        div {
            margin: 0px 0px 0px 10px;
        }
    }
}