.bdy_cntr_1 {
    margin: 0px 0px 0px 0px;
}

.hdrDrpdwn {
    background-color: rgb(110 110 110);
    border-bottom: 1px solid darkred;
    border-right: 1px solid darkred;
    border-left: 1px solid darkred;
    color: #fff;
    z-index: 3;
    position: relative;
}