$background-color_2: rgb(110 110 110);
$border_w1: 1px solid #fff;

.rgt_asd {
    max-width: 300px;
    display: inline;
    .rgt_pnl {
        background-color: $background-color_2;
        padding: 10px;
        margin: 0px 0px 20px 0px;
        border-radius: 6px;
        .rgt_pHdr {
            font-size: 20px;
            font-weight: 600;
            li {
                margin: 0px 0px 10px 0px;
            }
        }
        .rgt_pFtr {
            margin: 10px 0px 0px;
            img.rgt_uImg_1 {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                border: $border_w1;
                float: left;
                margin: 0px 10px 0px 0px;
            }
            .rgt_pUsr {
                margin: 0px 0px 0px 40px;
            }
            img.rgt_uImg_2 {
                border: $border_w1;
                border-radius: 6px;
                height: 50px; 
                width: 80px;
                display: inline-block;
            }
        }
    }
}