$imgPreset_1: center / cover no-repeat;

.usrPgeHdr {
    width: auto;
    display: inline;
    position: absolute;
    padding: 10px;
    .usrPgeHdr_Info {
        margin: 30px 0px 0px 30px;
        left: 0;
        right: 0;
        height: 220px;
        .usrPgeHdr_usrStat {
            margin: 0px 0px 0px 10px;
        }
        img.usrPgeHdr_usrImg {
            border: 1px solid #fff;
            border-radius: 6px;
            background: $imgPreset_1;
            height: 150px;
            width: 150px;
            float: left;
        }
        .usrPgeHdr_btns {
            margin: 129px 18px 0px 0px;
            button, svg {
                display: inline-block;
            }
            svg {
                height: 25px;
                width: 25px;
                margin: 0px 0px 0px 5px;
            }
            button {
                background-color: darkslategray;
                border-radius: 6px;
                margin: 0px 0px 0px 5px;
                padding: 5px 9px;
                font-size: 14px;
            }
        }
    }
    .usrPgeBnr {
        height: 250px;
        overflow: hidden;
        border-radius: 15px;
    }
}