.rgt_asd {
  max-width: 300px;
  display: inline;
}
.rgt_asd .rgt_pnl {
  background-color: rgb(110, 110, 110);
  padding: 10px;
  margin: 0px 0px 20px 0px;
  border-radius: 6px;
}
.rgt_asd .rgt_pnl .rgt_pHdr {
  font-size: 20px;
  font-weight: 600;
}
.rgt_asd .rgt_pnl .rgt_pHdr li {
  margin: 0px 0px 10px 0px;
}
.rgt_asd .rgt_pnl .rgt_pFtr {
  margin: 10px 0px 0px;
}
.rgt_asd .rgt_pnl .rgt_pFtr img.rgt_uImg_1 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  float: left;
  margin: 0px 10px 0px 0px;
}
.rgt_asd .rgt_pnl .rgt_pFtr .rgt_pUsr {
  margin: 0px 0px 0px 40px;
}
.rgt_asd .rgt_pnl .rgt_pFtr img.rgt_uImg_2 {
  border: 1px solid #fff;
  border-radius: 6px;
  height: 50px;
  width: 80px;
  display: inline-block;
}
