.donateForm {
  background-color: #131313;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
.donateForm:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
  animation: hover 2s infinite;
}
.donateForm .donateModalHdr {
  margin: 0px 0px 10px 0px;
}
.donateForm .donateModalHdr span svg {
  width: 20px;
  height: 20px;
  margin: 0px 10px 0px 0px;
  display: inline-block;
}
.donateForm .radio-group, .donateForm .amount-option {
  display: grid;
  place-items: center;
}
.donateForm .radio-group {
  display: flex;
  margin-bottom: 10px;
}
.donateForm .radio-group .radio-option {
  margin: 0px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  text-align: center;
}
.donateForm .radio-group .radio-option.selected {
  background-color: rgb(128, 73, 73);
}
.donateForm .amount-options {
  display: flex;
  margin: 0px 0px 10px 0px;
}
.donateForm .amount-options .amount-option {
  margin: 0;
  padding: 10px;
  cursor: pointer;
  flex: 1;
  border-radius: 4px;
}
.donateForm .amount-options .amount-option.selected {
  background-color: rgb(128, 73, 73);
}
.donateForm input[type=text], .donateForm textarea {
  width: 100%;
  height: auto;
  resize: vertical;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #252525;
  border-radius: 4px;
}
.donateForm .donateSbmtBtn button {
  display: block;
  margin: 0px 0px 10px 0px;
  padding: 10px;
  border-radius: 6px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
.donateForm .donateSbmtBtn button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
  animation: hover 2s infinite;
}
.donateForm .donateSbmtBtn button:nth-child(1) {
  background-color: rgb(128, 73, 73);
}
.donateForm .donateSbmtBtn button:nth-child(2) {
  background-color: darkslategray;
}
