.topSupPnl, .usrSubTeir, .loadMoreBtn {
  width: 100%;
  max-width: 648px;
}

.topSupPnl {
  margin: 0px 0px 10px;
}
.topSupPnl .loadMoreBtn {
  border-radius: 6px;
  padding: 10px;
  background-color: #252525;
}
.topSupPnl .topSupPnl_Usr {
  margin: 10px 0px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
.topSupPnl .topSupPnl_Usr:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
  animation: hover 2s infinite;
}
.topSupPnl .topSupPnl_Usr div img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: inline-block;
}
.topSupPnl .topSupPnl_Usr div span {
  margin: 0px 0px 0px 10px;
}
.topSupPnl .topSupPnl_Usr .fR button {
  margin: 0px 0px 0px 10px;
  padding: 4px 12px;
  border: 1px solid #fff;
  border-radius: 6px;
}
.topSupPnl .topSupPnl_Usr .fR button:hover {
  background-color: #804949;
}

.usrSubCreateBtn {
  background-color: darkslategray;
  margin: 10px 0px 0px;
  border-radius: 6px;
}

.topSupPnl, form.createSubTeir, .SubView_Wpr {
  background-color: #252525;
  border-radius: 6px;
  padding: 10px;
}

form.createSubTeir {
  margin: 10px 0px;
}
form.createSubTeir h2 {
  margin: 0px 0px 10px;
  font-size: 18px;
}
form.createSubTeir input, form.createSubTeir textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #111;
}
form.createSubTeir button {
  display: block;
}

.SubView_Wpr, .subView_Sub {
  margin: 0px 0px 10px 0px;
}

.SubView_Wpr {
  text-align: center;
}
.SubView_Wpr .subView_Btn {
  background-color: #804949;
  color: #fff;
  width: 100%;
  padding: 10px;
}
