.usrFllw_Wpr {
  height: 100px;
  width: 300px;
  margin: 0px 10px 10px 0px;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
.usrFllw_Wpr:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
  animation: hover 2s infinite;
}
.usrFllw_Wpr .usrFllw_Img {
  height: 100px;
  width: 100px;
  float: left;
}
.usrFllw_Wpr .usrFllw_Rgt {
  margin: 0px 0px 0px 10px;
  display: inline-block;
}
.usrFllw_Wpr .usrFllw_Btn {
  padding: 6px 12px;
  background-color: rgb(110, 110, 110);
  color: #fff;
  border-radius: 6px;
}
